<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles_home.css">
    <link rel="stylesheet" href="./css/styles_Sportal.css">
</head>
<body>
    <!-- search Teacher -->
    <header>
        <h1>STUDENT TEACHER APPOINTMENT PORTAL</h1>
        <p>Welcome Admin</p>
     </header>
     
     
     <div class="outer_search">
        <div class="reee">
            <form action="/search_teacher_admin" method="post" class ="search_bar">
                <label for="Tname">Teacher Search :</label>
                <input type="text" id="Tname" placeholder="Teacher Name" name="Teacher_name">
                <input type="submit" value="search">
            </form>
            <%if(locals.message){%>
                <p>no teachers found</p>
            <%}else if(locals.datas){%>
                    <table>
                        <tr>
                           <th>ID</th> 
                           <th>name</th> 
                           <th>subject</th> 
                        </tr>
                        <%for(var i=0;i<datas.length;i++){%>
                        <tr>
                            <td><%=datas[i].id%></td>
                            <td><%=datas[i].name%></td>
                            <td><%=datas[i].subject%></td>
                        </tr>
                        <%}%>
                    </table>
                <%}%>
        </div>
     </div>

     
        <div class="book_outer">
                <div class ="navigation_bar">
                    <div class="buttn">
                        <a href="/back_toAdd">Add</a>
                    </div>
                    <div class="buttn">
                        <a href="/removeT">Remove</a>
                    </div>
                    <div class="buttn">
                        <a href="/logoutA">Logout</a>
                    </div>
                </div>
            <div class="book">
                <form action="/admin_addT" method="post" class="booking_form">
                    <div>
                        <label for="Sname">Name </label>
                        <br>
                        <input type="text" id="Teacher_name" name="Teacher_name" placeholder="name">
                    </div>
                    <div>
                        <label for="Teacher_subject">Subject </label>
                        <br>
                        <input type="text" id="Teacher_subject" name="Teacher_subject" placeholder="subject">
                    </div>
                    <div>
                        <label for="password">Password : </label>
                        <br>
                        <input type="text" id="password" name="Teacher_password" placeholder="password">
                    </div>
                    <div class="form_buttons">
                        <input type="submit" >
                        <input type="reset">
                    </div>
                </form>
                <%if(locals.message){%>
                    <div>
                        <p style="color:green">Teacher was added to the database</p>
                    </div>
                    <%}%>
            </div>
    </div>
</body>
</html>