<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles_home.css">
    <link rel="stylesheet" href="./css/styles_Sportal.css">
</head>
<body>
    <!-- Make login form for student Teacher and admin -->
     <header>
        <h1>STUDENT TEACHER APPOINTMENT PORTAL</h1>
        <p>Our platform makes it easy for students to book appointments with their teachers online. Whether you need academic guidance, one-on-one meetings, or any consultation, you can schedule your time with just a few clicks. Teachers can manage their appointments effortlessly, approve or cancel bookings, and stay organized with a personalized dashboard. Admins can ensure smooth operations by managing teacher and student registrations. Enjoy a hassle-free and efficient booking experience! </p>
        <p>Please Enter Your Credentials To Register</p>
     </header>
     <div class="page">

        <div class="student_outer all_three_outer">
            <div id="student_box">
                <div class="book">
                    <form action="/registerS" method="post" class="booking_form">
                        <div>
                            <label for="Sname">Name </label>
                            <br>
                            <input type="text" id="Sname" name="Student_name" placeholder="name">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <br>
                            <input type="text" id="password" name="password" placeholder="password">
                        </div>
                        <div class="form_buttons">
                            <input type="submit" >
                            <input type="reset">
                        </div>
                    </form>
                </div>                    
            </div>
        </div>               
    </div>
</body>
</html>